// theme.scss

$baseFontSize: 1rem;
// Colors
$primaryColor: #2e2e2e;
$secondaryColor: #1c1c1c;
$accentColor: #3282b8;
$backgroundColor: #121212;
$borderColor: #222222;
$shadowColor: #000000;
$borderRadius: 20px;

$hoverBackground: #333333;

$textPrimaryColor: #f1f1f1;
$textSecondaryColor: #c7c5c5;
$textShadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
$shadowDiv: inset 5px -5px 4px #252525,
            inset -5px 5px 4px #454545;

// Fonts
$bodyFont: 'Poppins', sans-serif;
$headingFont: 'Poppins', sans-serif;

// Spacing
$textPadding: 1.1rem;
$padding: 1rem;
$margin: 1rem;

// Z-index
$zIndexHeader: 100;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $bodyFont;
  font-size: $baseFontSize;
  color: $textPrimaryColor;
  scroll-behavior: smooth;
  transition: all ease-in-out 0.3s;
  body{
    margin: 0;
    padding: 0;
    background-color: $backgroundColor;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
    

    &::-webkit-scrollbar{
      width: 0.5rem;
      background-color: $secondaryColor;
    }

    &::-webkit-scrollbar-thumb{
      background-color: $accentColor;
    }

  }
  h2{
    font-size: 2rem;
  }
  &::selection{
    background-color: $accentColor;
    color: $secondaryColor;
  } 

  a{
    text-decoration: none;
  }

  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .btn{
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background-color: $backgroundColor;
    border-radius: $borderRadius;
    font-size: 1em;
    cursor: pointer;
    font-weight: 600;
  }
  .position-relative{
    position: relative;
  }
  section{
    margin: 20px auto;
    padding: 20px 20px;
  }
  section:nth-child(odd){
    background-color: $secondaryColor;
    
  }

}

