@import "../../theme.scss";

.slider{
  position: relative;
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 30px 20px;

  .content{
    position: absolute;
    width: 30%;
    min-height: 30%;
    max-height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $padding;
    display: flex;
    justify-self: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    gap: 10px;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    .slider_desc{
      width: 100%;
      *{
        margin: 10px 0px;
        font-family: $bodyFont;
        font-size: 1.3em;
      }
      h2{
        font-size: 5em;
      }
      .button{
        text-shadow: $textShadow;
        font-size: 1.7em;
        box-shadow: $shadowDiv;
      }
    }
    span{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: -1;
      box-sizing: border-box;
    }
    .span1:before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0%;
      width: 30%;
      height: 2px;
      background: #50dfdb;
    
      animation: span1 2s linear infinite;
    }
    .span2:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0%;
      width: 30%;
      height: 2px;
      background: #50dfdb;
      animation: span2 2s linear infinite;
    }
    .span3:before {
      content: "";
      position: absolute;
      top: 0%;
      left: 0;
      width: 2px;
      height: 30%;
      background: #50dfdb;
      animation: span3 2s linear infinite;
    }
    .span4:before {
      content: "";
      position: absolute;
      bottom: 0%;
      right: 0;
      width: 2px;
      height: 30%;
      background: #50dfdb;
      animation: span4 2s linear infinite;
    }
    h2 {
      font-size: 3rem;
    }
  }
  @keyframes span1 {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }
  @keyframes span2 {
    0% {
      right: 0%;
    }
    100% {
      right: 100%;
    }
  }
  @keyframes span3 {
    0% {
      top: 0%;
    }
    100% {
      top: 100%;
    }
  }
  @keyframes span4 {
    0% {
      bottom: 0%;
    }
    100% {
      bottom: 100%;
    }
  }

  @media (max-width: 768px){
    min-height: 40vh;
    max-height: 100vh;
    .content{
      width: 60%;
      height: fit-content;
      max-height: fit-content;
      box-sizing: content-box;
      .slider_desc{
        width: 100%;
        *{
          margin: 10px 0px;
          font-family: $bodyFont;
          font-size: 0.8em;
        }
        h2{
          font-size: 2em;
        }
        .button{
          text-shadow: $textShadow;
          font-size: 1em;
        }
      }
    }

  }
  @media (max-width: 568px){
    max-height: 100vh;
  }
}